@use 'variables'  as v;
@use 'mixins';

.gallery{
    &__image-container{
        height: 300px;
        width: 100%; 
        background-image: url('../images/lap-1.jpeg');
        background-position-y: -35px;
        background-size: contain;
        background-repeat: no-repeat ;
        &:hover{
            cursor: pointer;
        }

    }
    &__previus{
        @include mixins.image-btn(170px,15px, false);
    }
    &__next{
        @include mixins.image-btn(170px,300px, false);
    }
    &__htummails{
        display: none;
        @media (min-width: 1115px) {
            display: flex; 
            justify-content: space-between;           
        }
    }
    &__htummail{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border: 2px solid v.$Orange;
        }
    }
    @media (min-width:1115px) {
        width: 446px;
        &__image-container{
            background-position: 0;
            border-radius: 16px;
            height: 446px;
            margin-bottom: 12px;

        }
    }
    
}