@use 'variables';

.navebar{

    display: none;

    width: 400px;
    &__items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    }
    &__link{

        text-decoration: none;
        color: variables.$Dark-graving;
        display: block;
        height: 92px;
        width: 100px;
        padding-top: 82px;
        margin-bottom: 5px;
        font-size: 14px;
   
        &:hover{
            border-bottom: 4px solid variables.$Orange;

        }
    }
    @media (min-width:1115px) {
        display: block;
            
        }
    
}